@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
	font-family: "Manrope", sans-serif;
	font-style: normal;
}

body {
	overflow-x: hidden;
}

#sort {
	overflow-x: hidden;
	width: 100%;
	display: flex;
	justify-content: center;
}

#sortContainer {
	display: flex;
}

.sortItem {
	margin: .5rem .4rem;
	cursor: pointer;
	font-size: 1.2rem;
	display: flex;
	padding: .2rem 1.5rem;
	background-color: #F4F4F6;
	border-radius: 2.4rem;
	justify-content: center;
	align-items: baseline;
	align-items: center;
	transition: .3s;
}

.sortItem.selected {
	background-color: #b6b6ba;
}

.sortItem img {
	margin: 0 .5rem;
	width: 2rem;
	height: 2rem;
}

.sortItem p {
	white-space: nowrap;
	padding: 0 .7rem 0 0;
}

#text {
	width: 100%;
	display: flex;
	justify-content: center;
}

#textContainer {
	width: 1280px;
	display: flex;
	justify-content: space-between;
}

#textContainer>h1 {
	margin-left: 1rem;
}

#textContainer>div {
	align-self: flex-end;
	cursor: pointer;
	align-items: baseline;
	align-content: space-around;
	display: flex;
	margin-right: 2.5rem;
}

#textContainer>div>img {
	position: relative;
	top: .4rem;
	right: 10px;
	padding: 1.5px 0;
}

#catalog {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 1280px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.catalogRow {
	display: flex;
}

.catalogItem {
	width: 30%;
	flex-grow: 0;
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

.imageContainer {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	position: relative;
	width: 100%;
}

.icons {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0.5rem;
}

.discountImg,
.newImg {
	width: 2rem;
	height: 2rem;
	margin-left: 1rem;
}

.catalogImg {
	width: 100%;
	border-radius: 15px 15px 0px 0px;
	/* Закругляем только верхние углы */
}

/* ----------------------- */


.catalogItemCircles {
	top: -40px;
	display: flex;
	left: 44%;
	position: relative;
	width: fit-content;
	height: 0px;
	margin-top: 0px;
}

.catalogItemCircles>div {
	width: 12px;
	height: 12px;
	border-radius: 2.5rem;
	box-sizing: border-box;
}

.catalogItemCircles div:nth-child(1) {
	background-color: white;
	margin-right: 10px;

}

.catalogItemCircles div:nth-child(2) {
	border: 2px solid white;
	margin-left: 10px;

}


/* ................ */


.catalogInfo {
	background: rgb(244, 244, 246);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 0px 0px 15px 15px;

}

.catalogInfo p:nth-child(2) {
	position: relative;
	color: rgb(0, 0, 0);
	font-family: Manrope;
	font-size: 21px;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 16px;
	margin-bottom: 10px;

}

.catalogInfo p:nth-child(3) {
	color: rgba(0, 0, 0, 0.5);
	font-family: Manrope;
	font-size: 18px;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: right;
	margin-right: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.catalogInfo p:nth-child(4) {
	color: rgb(0, 0, 0);
	font-family: Manrope;
	font-size: 30px;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: right;
	position: relative;
	margin-top: 4px;
	margin-right: 15px;
	margin-bottom: 0px;

}

.catalogInfo a {
	align-self: center;
	border-radius: 1.8rem;
	border: 1px solid black;
	font-size: 1.4rem;
	width: 100%;
	text-align: center;
	position: relative;


	cursor: pointer;
}



.buy-button {
	padding: 15px 30px 16px 30px;
	margin: 20px;
	background-color: #ffffff;
	color: #000000;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	cursor: pointer;
	outline: none;
	transition: .4s;
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 50px;
	font-family: Manrope;
	font-size: 21px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0px;
	text-align: center;
}


.buy-button:hover {
	background-color: black;
	color: white;
}


#sortChooseBlock {
	border-color: #000000;
	z-index: 3;
	/* поменять */
	position: absolute;
	width: 305px;
	display: none;
	flex-direction: column;
	justify-content: center;
	border-radius: 1.5rem;
	text-align: center;
	border-radius: 10px;

	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
	background: rgb(255, 255, 255);

}

#sortChooseBlock p {
	color: rgb(0, 0, 0);
	font-family: Manrope;
	font-size: 21px;
	font-weight: 400;
	line-height: 130%;
	letter-spacing: 0px;
	margin-left: 24px;
}


#sortChooseBlock a {
	align-self: center;
	border-radius: 1.8rem;
	border: 1px solid black;
	font-size: 1rem;
	padding: .3rem 1rem;
	width: 50%;
	text-align: center;
	position: relative;
	transition: .4s;
	cursor: pointer;
	margin-bottom: 0;
	background-color: black;
	color: white;
}

.option {
	cursor: pointer;
	margin: 0;
	position: relative;
	left: 32px;
	width: fit-content;
	display: flex;
	align-items: baseline;
}

.option div {
	display: flex;
	top: .7rem;
	border: 2px solid black;
	width: .7rem;
	height: .7rem;
	border-radius: 2.5rem;
}

.option p {
	font-size: 1rem;
	margin-bottom: 24px;
	margin-top: 0;
}

.choice_sorted_text {
	padding: 28px 0px 20px 0px;
}

.choice_button {
	margin-top: 0px;
	padding: 13px 39px 14px 39px;
	margin-left: 32;
	margin-right: 32;
	margin-bottom: 20px;
}

#sortChoose p {
	/* Desctop/Text1NormalMed */
	color: rgb(0, 0, 0);
	font-family: Manrope;
	font-size: 26px;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: left;
}




#textContainer h1 {
	color: rgb(0, 0, 0);
	font-family: Manrope;
	font-size: 46px;
	font-weight: 500;
	line-height: 130%;
	letter-spacing: 0px;
	text-align: left;
	text-transform: uppercase;
	margin-left: 30px;
}



@media all and (max-width: 1256px) {
	#catalog {
		width: 90%;
	}

	.catalogItem {
		width: 40%;
		flex-grow: 1;
		margin: 0.4rem;
	}

	.catalogInfo a {
		width: 70%;
	}

	.catalogInfo p:nth-child(2) {
		font-size: 1rem;
	}

	.catalogInfo p:nth-child(3) {
		font-size: 1rem;
	}

	.catalogInfo p:nth-child(4) {
		font-size: 1rem;
	}

	#sort {
		justify-content: flex-start;
		overflow-x: scroll;
	}

	.sortItem {
		padding: 0.05rem 0.35rem;
	}

	.sortItem p {
		padding: 0 0.3rem 0 0;
	}
}

@media all and (max-width: 789px) {
	#catalog {
		width: 100%;
	}

	.catalogItem {
		width: 90%;
	}

	.sortItem {
		padding: 0.05rem 0.45rem;
	}
}